/*
  COLORS:
    yellow - #FADA28
    grey - #333
*/
@keyframes fadeIn {
  100% {
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    background-color: rgba(250, 218, 40, 0.75);
    color: #000; } }

*, html {
  -webkit-font-smoothing: antialiased; }

body {
  padding: 0px;
  margin: 0px; }

.logo {
  margin: .5rem 0px 0px .5rem;
  height: 3rem;
  width: 3rem;
  position: absolute; }

header {
  background: url("../images/header-bg-overlay.png") center center/cover no-repeat black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10rem; }
  header .cta-intro h1,
  header .cta-intro p {
    font-family: "museo-sans-rounded", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 3rem;
    margin: 0px;
    padding: 0px;
    color: #fff; }
  header .cta-intro .highlight {
    font-family: "museo-sans-rounded", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    color: #FADA28;
    max-width: fit-content; }
  header .cta-intro h1 {
    margin-bottom: 3rem; }
  header .cta-intro p {
    width: 60%;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1rem; }
    header .cta-intro p .highlight {
      color: #fff;
      font-size: 2rem;
      font-weight: 900; }
  header .cta-buttons {
    display: flex; }
    header .cta-buttons .first-button,
    header .cta-buttons .second-button {
      height: 2.5rem;
      width: 7rem;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      font-family: "museo-sans", sans-serif;
      font-size: .8rem;
      display: flex;
      align-items: center;
      padding-left: 1rem;
      margin-right: 2rem;
      box-sizing: border-box;
      text-decoration: none; }
      header .cta-buttons .first-button img,
      header .cta-buttons .second-button img {
        margin-right: .35rem;
        height: 45%;
        width: auto; }
    header .cta-buttons .second-button {
      width: 6.55rem; }
      header .cta-buttons .second-button img {
        margin-right: 0px;
        margin-top: -5px;
        height: 1.75rem; }
    header .cta-buttons .first-button:hover,
    header .cta-buttons .second-button:hover {
      animation: 250ms fadeIn ease-in-out forwards; }

.highlight, h2 {
  font-family: "museo-sans-rounded", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  color: #FADA28;
  padding: 0px;
  margin: 0px;
  display: inline-block; }

main {
  margin-top: 50px; }

.container-mock-desc {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .container-mock-desc .app-mockup,
  .container-mock-desc .app-description {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .container-mock-desc .app-mockup {
    grid-column-start: 1;
    align-items: center; }
    .container-mock-desc .app-mockup img {
      height: 75vh; }
  .container-mock-desc .app-description {
    grid-column-start: 2;
    align-items: flex-start;
    padding-right: 100px; }
  .container-mock-desc a {
    font-family: "museo-sans", sans-serif;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    text-decoration: none; }
  .container-mock-desc p {
    font-family: "museo-sans", sans-serif;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    text-align: left; }

.container-desc-mock {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .container-desc-mock .app-mockup,
  .container-desc-mock .app-description {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .container-desc-mock .app-mockup {
    grid-column-start: 2;
    align-items: center; }
    .container-desc-mock .app-mockup img {
      height: 50vh; }
  .container-desc-mock .app-description {
    grid-column-start: 1;
    align-items: flex-end;
    padding: 50px; }
  .container-desc-mock a {
    font-family: "museo-sans", sans-serif;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    text-decoration: none; }
  .container-desc-mock p {
    font-family: "museo-sans", sans-serif;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    text-align: right; }

footer {
  height: 10rem;
  padding: 0 10rem;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-family: "museo-sans", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  color: #fff; }
  footer a {
    color: #fff;
    font-family: "museo-sans", sans-serif;
    font-weight: 100;
    font-size: .75rem;
    text-decoration: none;
    margin-bottom: .2rem; }
  footer .bottom-half {
    margin-top: .25rem; }
  footer .bottom-half:last-child {
    margin-top: .3rem; }
  footer img {
    height: 1rem;
    margin: 0rem 0.25rem 0rem 0rem; }
  footer .footer-icons {
    color: #fff;
    margin: 0rem .35rem 0rem .2rem; }
  footer div {
    display: inline; }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .intro-text {
    padding-left: 1rem; }
  .logo {
    height: 2rem;
    width: 2rem;
    margin: 1rem 0 0 .5rem; }
  header {
    padding: 1rem; }
    header .cta-intro .highlight {
      font-family: "museo-sans-rounded", sans-serif;
      font-weight: 900;
      font-size: 2.5rem;
      color: #FADA28; }
    header .cta-intro h1 {
      margin-bottom: 1.5rem; }
    header .cta-intro p {
      width: 100%;
      font-size: 1.5rem;
      font-weight: 300;
      margin-bottom: 2rem;
      line-height: 2.25rem; }
      header .cta-intro p .highlight {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 900; }
    header .cta-buttons {
      display: flex; }
      header .cta-buttons .first-button,
      header .cta-buttons .second-button {
        height: 2.5rem;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        font-family: "museo-sans", sans-serif;
        font-size: .8rem;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        text-decoration: none; }
      header .cta-buttons .first-button {
        width: 7.75rem;
        margin-right: 1.5rem;
        padding-left: .75rem; }
        header .cta-buttons .first-button img {
          margin-right: .35rem;
          height: 45%;
          width: auto; }
      header .cta-buttons .second-button {
        width: 6.55rem;
        padding-left: .3rem; }
        header .cta-buttons .second-button img {
          height: 1.65rem; }
      header .cta-buttons .first-button:hover,
      header .cta-buttons .second-button:hover {
        animation: 250ms fadeIn ease-in-out forwards; }
  main {
    margin: 0px; }
  .container-mobile {
    display: inline; }
    .container-mobile .app-mockup,
    .container-mobile .app-description {
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
    .container-mobile .app-mockup {
      margin-top: 5rem;
      align-items: center; }
      .container-mobile .app-mockup img {
        height: auto;
        width: 80vw; }
    .container-mobile .app-description {
      margin-top: 50px;
      padding: 0px 2rem; }
      .container-mobile .app-description h2 {
        font-size: 2rem; }
    .container-mobile a {
      font-family: "museo-sans", sans-serif;
      color: rgba(0, 0, 0, 0.5);
      font-weight: 700;
      text-decoration: none; }
    .container-mobile p {
      font-family: "museo-sans", sans-serif;
      color: rgba(0, 0, 0, 0.5);
      font-weight: 500;
      text-align: left; }
  .container-desc-mock {
    display: flex;
    flex-direction: column-reverse; } }
