header, #skills, #portfolio, #contact{
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header{
  background: linear-gradient(-290deg, #F03C02, #6B0103);
}

h1{
  font-family: 'Roboto Slab', sans-serif;
  font-size: 9rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 75px;
}

h2, h3, h5{
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 300;
}

h2{
  margin-bottom: 5%;
  background-color: #000;
  width: 69px;
  font-weight: 100;
  text-align: center;
}

h5{
  font-size: 1.25em;
  font-weight: 500;
  color: #000;
  margin-bottom: 5%;
}

p{
  line-height: 25px;
}

#skills h2{
  width: 75px;
}

#portfolio h2{
  width: 118px;
}

#contact h2{
  width: 115px;
}

.contact-info{
  text-align: right;
}

ul{
  padding: 0px;
  margin: -10px 0 0 0;
}

li{
  list-style: none;
  text-align: right;
  line-height: 25px;
}

li:first-child{
  font-size: 1.25em;
  font-weight: 700;
}

a{
  color: #000;
}

a:hover{
  color: rgba(0,0,0,.75);
}

address{
  margin: 0px;
  padding: 0px;
}

.input-group{
  margin-bottom: 2%;
}

.btn{
  background-color: #000;
  border: none;
}

.btn:hover{
  background-color: rgba(0,0,0,.75);
}


@media (max-width: 991px){
  #skills, #portfolio, #contact{
    height: 100%;
  }

  li{
    text-align: left;
  }
}
