/*
  COLORS:
    yellow - #FADA28
    grey - #333
*/
.logo {
  margin: 1rem 0px 0px 1rem;
  position: absolute; }

header {
  background: url("../images/header-bg-overlay.png") center center/cover no-repeat black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  header p {
    font-family: "museo-sans", sans-serif;
    font-weight: 300;
    font-size: 4rem;
    color: #fff;
    text-align: left;
    line-height: 5rem; }

.highlight, h2 {
  font-family: "museo-sans-rounded", sans-serif;
  font-weight: 900;
  font-size: 4rem;
  color: #FADA28;
  padding: 0px;
  margin: 0px; }

main {
  margin-top: 50px; }

.container-mock-desc {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .container-mock-desc .app-mockup,
  .container-mock-desc .app-description {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .container-mock-desc .app-mockup {
    grid-column-start: 1;
    align-items: center; }
    .container-mock-desc .app-mockup img {
      height: 75vh; }
  .container-mock-desc .app-description {
    grid-column-start: 2;
    align-items: flex-start;
    padding-right: 100px; }
  .container-mock-desc a {
    font-family: "museo-sans", sans-serif;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    text-decoration: none; }
  .container-mock-desc p {
    font-family: "museo-sans", sans-serif;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    text-align: left; }

.container-desc-mock {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .container-desc-mock .app-mockup,
  .container-desc-mock .app-description {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .container-desc-mock .app-mockup {
    grid-column-start: 2;
    align-items: center; }
    .container-desc-mock .app-mockup img {
      height: 50vh; }
  .container-desc-mock .app-description {
    grid-column-start: 1;
    align-items: flex-end;
    padding: 50px; }
  .container-desc-mock a {
    font-family: "museo-sans", sans-serif;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    text-decoration: none; }
  .container-desc-mock p {
    font-family: "museo-sans", sans-serif;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    text-align: right; }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .logo {
    width: 2rem;
    margin: .5rem 0 0 .5rem; }
  header .intro-text {
    padding-left: 1rem; }
  header p {
    font-size: 2rem;
    line-height: 2.5rem; }
  .highlight {
    font-family: 'museo-sans-rounded', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    color: #FADA28; }
  main {
    margin: 0px; }
  .container-mobile {
    display: inline; }
    .container-mobile .app-mockup,
    .container-mobile .app-description {
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
    .container-mobile .app-mockup {
      margin-top: 5rem;
      align-items: center; }
      .container-mobile .app-mockup img {
        height: auto;
        width: 80vw; }
    .container-mobile .app-description {
      margin-top: 50px;
      padding: 0px 2rem; }
      .container-mobile .app-description h2 {
        font-size: 2rem; }
    .container-mobile a {
      font-family: "museo-sans", sans-serif;
      color: rgba(0, 0, 0, 0.5);
      font-weight: 700;
      text-decoration: none; }
    .container-mobile p {
      font-family: "museo-sans", sans-serif;
      color: rgba(0, 0, 0, 0.5);
      font-weight: 500;
      text-align: left; }
  .container-desc-mock {
    display: flex;
    flex-direction: column-reverse; } }
